Package: git-diff-xlsx
Version: ##<VERSION_NUMBER>##
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 4568
Depends: dotnet-runtime-3.1
Maintainer: Mark Webb <github.com/webbwebbwebb>
Description: Print content of .xlsx files in text format
